#h1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

form {
    position: relative;
}

#submitBtn {
    background-color: darkblue;
    position: absolute;
    left: 50%;
}

.long {
    width: 200px;
}

div {
    width: 100px;
    display: inline;
}

#label {
    margin-left: 30px;
}

.short {
    width: 50px;
}